*{
    margin: 0;
    padding: 0;
}
body{
    background-color: purple;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#resultado{
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 30px;
    margin: 5px;
    padding: 2px;
    text-align: right;
    width: 180px;
}
.calculadora{
    background-color: rgba(0,0, 0, 0.9);
    border-radius: 30px;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.botao{
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    height: 40px;
    margin: 2px;
    width: 40px;
}
.botao:hover{
    background-color: black;
}
.botaoRaiz{
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    height: 40px;
    margin: 2px;
    width: 40px;
}
.botaoRaiz:hover{
    background-color: black;
}
img{
    height: 35px;
    width:35px ;
}
.botaoIgual{
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    height: 40px;
    margin: 2px;
    width: 80px;
}
.botaoIgual:hover{
    background-color: black;
}